@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

/* Change Box Model */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Body Styles */
/* Mobile-first styles */
body {
  font-family: "Open Sans", monospace, sans-serif;
  max-width: 1200px;
  margin: 10%;
}

p {
  color: black;
}

.content {
  margin: 0 auto;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Lato, monospace, sans-serif;
  font-weight: bolder;
}

#top-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
}

.siteName {
  justify-self: start;
  font-weight: bolder;
  font-size: 2rem;
}

.siteName a, #tools a {
  text-decoration: none;
  color: black;
  transition: transform 0.5s, color 0.5s, opacity 0.5s;
}

.siteName a:hover, #tools a:hover {
  color: #4cc9f0;
  opacity: .7;
  transform: scale(1.5);
}

#tools {
  justify-self: end;
  font-weight: bolder;
  align-self: center;
}

nav ul, nav ul li a {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  height: 3rem;
  color: white;
  font-weight: bolder;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px;
}

nav ul li a {
  margin-right: 10px; 
  transition: color 0.5s; 

  /* Hover styles */
  &:hover {
    color: #4cc9f0;
  }
}

#welcome {
  text-align: left;
  line-height: 1.2;
  letter-spacing: 1.5px;
  word-spacing: 10px;
  font-size: 1.5rem;
}

#delo {
  background-image: url('../images/vehicles/delorean.jpg');
  background-size: 57vw auto;
  background-repeat: no-repeat;
  background-position: right;
}

#DMC {
  text-align: left;
  padding-left: 10px;
  background-color: rgba(0, 255, 187, 0.1);
  margin-right: 30%;
}

#DMC p {
  line-height: 1.5rem;
  font-weight: bold;
}

#own_t {
  background-color: #00F5C0;
  width: 10em;
  font-weight: bolder;
  padding: 1em 0em;
  border-radius: 1.5em;
  cursor: pointer;
}

#DMC_reviews {
  text-align: left;
  padding-left: 4%;
  line-height: 32px;
}

.reviews h3 {
  text-align: left;
}

#delorean_upg {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.upgrades-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px;
}

.upgrade {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #007bff; 
  /* padding: 28px; */
  margin-bottom: 20px;
  border-radius: 5px;
  color: white;
  position: relative; 
  height: 125px;
}
.upgrade-image {
  width: 80%;
  height: 80%;
  object-fit: contain;
  margin-bottom: 10px;
}
.upgrade-name {
  text-align: center;
  color: #007bff; 
  position: absolute; 
  bottom: -27px; 
  padding: 5px;
  border-radius: 5px;
  text-decoration: none; 
}
.upgrade-name:hover {
  text-decoration: underline; 
  color: #0056b3; 
}
/* .bg {
  background-color: #4cc9f0;
  margin-right: auto;
  margin-left: auto;
  padding: 5%;
  align-self: center;
  height: 100px;
  width: 100px;
}

#delorean_upg h3 {
  grid-column: 1/3;
}

.upg_link {
  text-decoration: none; 
  color: #4cc9f0; 

  /* Hover styles */
  /* &:hover {
    color: #00F5C0; 
    text-decoration: underline; 
  }
/* } */ 


/* Media Query for screens with minimum width 768px */
@media screen and (min-width: 768px) {
  :root {
    background-image: url('../images/site/small_check.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  body {
    font-size: 18px;
    background-color: white;
    padding: 5%;
    border: 8px solid #4cc9f0;
  }

  #welcome {
    margin-top: 5%;
  }

  .car-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }

  #delo {
    background-image: url('../images/vehicles/delorean.jpg');
    background-size: 30vw auto;
    background-repeat: no-repeat;
    background-position: 45% 50%;
    margin: 10% auto;
  }

  .the_delo {
    display: flex;
    flex-direction: row-reverse;
    margin: 10% auto;
    gap: 25px;
    justify-content: space-between;
  }

  #DMC {
    text-align: left;
    padding-left: 10px;
    background-color: rgba(0, 255, 187, 0.1);
    margin-right: 60%;
    text-decoration: #4cc9f0;
  }

  #own_t {
    background-color: #4cc9f0;
    width: 10em;
    font-weight: bolder;
    padding: 1em 0em;
    border-radius: 1.5em;
    cursor: pointer;
  }

  #DMC_reviews {
    text-align: left;
    padding-left: 4%;
    line-height: 32px;
  }

  .reviews h3 {
    text-align: left;
  }

  #delorean_upg {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }

  .upgrades-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
  }
  
  .upgrade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4cc9f0; 
    /* padding: 28px; */
    margin-bottom: 20px;
    border-radius: 5px;
    color: white;
    position: relative; 
    height: 100px;
    width: 200px;
  }
  .upgrade-image {
    width: 80%;
    height: 80%;
    object-fit: contain;
    margin-bottom: 10px;
  }
  .upgrade-name {
    text-align: center;
    color: #3A86FF; 
    position: absolute; 
    bottom: -27px; 
    padding: 5px;
    border-radius: 5px;
    text-decoration: none; 
    text-underline-position: below;
  }
  .upgrade-name:hover {
    text-decoration: underline; 
    color: #0056b3; 
  }

  
  #delorean_upg h3 {
    margin-bottom: 20px;
  }

  .reviews {
    grid-column: 2/3;
  }

  .reviews h3 {
    padding-bottom: 25px;
  }

  .vehicle-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }
}
